<script src="/javascripts/home.js"></script>

{{#if ticketsPage.success}}
    {{#if user.success}}<p>tem tickets para: {{user.success.name}}</p>{{/if}}
    <div id="tickets-container" class="overflow-auto bg-info{{#if ticketsPage.success.hasNext}} has-next{{/if}}" style="height: 800px;">
        {{>ticket-list ticketsPage=ticketsPage.success}}
    </div>
{{else}}
    <p>sem tickets</p>
{{/if}}
